FSE.PO.MVCAPP/Connected Services/PurchaseOrderService/PurchaseOrderService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/PurchaseOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" />
  <xs:element name="ValidateService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="GetAllPurchaseOrderResult" nillable="true" type="q1:ArrayOfPurchaseOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderByPONO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderByPONOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="GetPurchaseOrderByPONOResult" nillable="true" type="q2:PurchaseOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="purchaseOrderEntity" nillable="true" type="q3:PurchaseOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePurchaseOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="purchaseOrderEntity" nillable="true" type="q4:PurchaseOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePurchaseOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePurchaseOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="GetSupplierResult" nillable="true" type="q5:ArrayOfSupplierEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FSE.PO.SVCAPP.Entity" minOccurs="0" name="GetItemResult" nillable="true" type="q6:ArrayOfItemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>